* {
  margin: 0;
  padding: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  height: 100%;
}

body {
  font-size: 15px;
  height: 100%;
}

._container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

._hide {
  display: none;
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.cabinet-header {
  margin: 20px 0px;
}

.user-cabinet-header {
  display: inline;
  font-size: 20px;
  background-color: rgba(174, 125, 75, 0.7);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 12px;
  padding: 0px 5px;
}

.site-header {
  background-color: #beb394;
  padding: 20px 0px 5px 0px;
}

.site-title {
  font-size: 24px;
  color: #8e6121;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px;
}

.btn {
  background-color: #ae7d4b;
}

.modal-show {
  margin: 5px;
}

.modal-wrap {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-project label {
  color: rgba(255, 255, 255, 0.8);
}

.modal-project {
  position: relative;
  width: 250px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 10px #1d1d1d;
  box-shadow: 1px 1px 10px #1d1d1d;
  padding: 10px;
  background-color: rgba(120, 95, 69, 0.9);
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.modal-project-close {
  position: absolute;
  top: -20px;
  right: -20px;
}

.form-slider {
  width: 700px;
  height: 240px;
  margin-left: 0;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.left-50,
.right-50 {
  width: 50%;
  float: left;
  min-height: 50px;
  padding: 10px;
}

.right-50 {
  min-height: 50px;
  max-height: 330px;
  overflow-y: scroll;
}

.right-50 p {
  padding: 0px 0px 10px 0px;
}

.accept-rules p {
  margin: 5px 0px;
}

.form-slider .accept-rules .checkbox-rules {
  padding-left: 25px;
}

.read-rules,
.read-rules-back {
  cursor: pointer;
  text-decoration: underline;
  color: skyblue;
}

.read-rules-back {
  margin: 0px 0px 5px 0px;
}

.rules-text {
  color: rgba(255, 255, 255, 0.8);
}

.sign-up-modal {
  height: 350px;
  width: 370px;
}

.form-slider-wrapper {
  overflow: hidden;
}

.toast {
  background-color: rgba(174, 125, 75, 0.7);
  color: white;
  border-radius: 12px;
}

.cabinet-page {
  width: 100%;
  height: 100%;
  background: url(../img/cabinet-img.png) center center no-repeat;
  background-size: 100% 100%;
}

.page-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

.page-form__content {
  background-color: rgba(174, 125, 75, 0.5);
  width: 600px;
  padding: 20px;
}

.page-form__content label {
  color: rgba(255, 255, 255, 0.8);
}

.authorization-block__reception,
.authorization-block__registration,
.authorization-block__login {
  width: 100%;
  height: 100%;
}

.authorization-block__reception_img,
.authorization-block__registration_img,
.authorization-block__login_img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .sign-up-modal {
    height: auto;
  }

  .right-50 {
    max-height: 485px;
  }
}

@media (max-width: 576px) {
  .cabinet-page {
    height: auto;
  }

  .page-form__content {
    padding: 5px 0px 0px 0px;
  }
}

@media (max-width: 420px) {
  .sign-up-modal {
    width: 270px;
  }

  .left-50,
  .right-50 {
    padding: 0;
  }

  .right-50 {
    max-height: 465px;
    padding: 0px 10px 0px 0px;
  }

  .form-slider {
    width: 515px;
  }
}